<div id="login" class="row no-gutters">
    <div class="register-right col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="register-v1 main">
            <div class="title">
                <h2>Register</h2>
            </div>
            <div class="register-v2">
                <div class="username fild">
                    <i class="fa fa-user-o" aria-hidden="true"></i>

                    <input type="text" placeholder="Username" />
                </div>
                <div class="password fild">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" placeholder="Password" />
                </div>
                <div class="repassword fild">
                    <i class="fa fa-repeat" aria-hidden="true"></i>
                    <input type="password" placeholder="RePassword" />
                </div>
                <div class="email fild">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <input type="text" placeholder="Email" />
                </div>
                <button class="button-b register-b">Register</button>
                <span>You have an account. <a class="link-login" routerLink="/login">Login Now</a></span>
            </div>
        </div>
    </div>
</div>